@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #afafaf;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5e5e5e;
  padding: 1rem;
  color: white;
}

.logoDiv {
  display: flex;
}

.logo {
  width: 70px;
  border-radius: 10px;
}

.titulo {
  margin-left: 7%;
  font-size: 1.4rem;
}

.navegate {
  display: flex;
  gap: 1rem;
}

.navegate a {
  text-decoration: none;
  color: white;
}

.bemVindo {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 2rem 2rem 2rem;
}

.cardRow {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  flex: 1 1 300px;
}

.card img {
  width: 20%;
  object-fit: contain;
}

.card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  color: #333;
}

.card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4rem;
}

.card:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .cardRow {
    flex-direction: column;
  }
}
